interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.prestashop_catalogmanager10.com/api/products/1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<product>\n\t<id><![CDATA[1]]></id>\n\t<id_manufacturer
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/manufacturers/1\"><![CDATA[1]]></id_manufacturer>\n\t<id_supplier
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/suppliers/1\"><![CDATA[1]]></id_supplier>\n\t<id_category_default
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/categories/5\"><![CDATA[5]]></id_category_default>\n\t<new></new>\n\t<cache_default_attribute><![CDATA[1]]></cache_default_attribute>\n\t<id_default_image
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/1\"
        notFilterable=\"true\"><![CDATA[1]]></id_default_image>\n\t<id_default_combination
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/combinations/1\"
        notFilterable=\"true\"><![CDATA[1]]></id_default_combination>\n\t<id_tax_rules_group
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/tax_rule_groups/1\"><![CDATA[1]]></id_tax_rules_group>\n\t<position_in_category
        notFilterable=\"true\"><![CDATA[0]]></position_in_category>\n\t<manufacturer_name
        notFilterable=\"true\"><![CDATA[Fashion Manufacturer]]></manufacturer_name>\n\t<quantity
        notFilterable=\"true\"><![CDATA[0]]></quantity>\n\t<type notFilterable=\"true\"><![CDATA[simple]]></type>\n\t<id_shop_default><![CDATA[1]]></id_shop_default>\n\t<reference><![CDATA[demo_1]]></reference>\n\t<supplier_reference></supplier_reference>\n\t<location></location>\n\t<width><![CDATA[0.000000]]></width>\n\t<height><![CDATA[0.000000]]></height>\n\t<depth><![CDATA[0.000000]]></depth>\n\t<weight><![CDATA[0.000000]]></weight>\n\t<quantity_discount><![CDATA[0]]></quantity_discount>\n\t<ean13><![CDATA[0]]></ean13>\n\t<upc></upc>\n\t<cache_is_pack><![CDATA[0]]></cache_is_pack>\n\t<cache_has_attachments><![CDATA[0]]></cache_has_attachments>\n\t<is_virtual><![CDATA[0]]></is_virtual>\n\t<on_sale><![CDATA[0]]></on_sale>\n\t<online_only><![CDATA[0]]></online_only>\n\t<ecotax><![CDATA[0.000000]]></ecotax>\n\t<minimal_quantity><![CDATA[1]]></minimal_quantity>\n\t<price><![CDATA[16.510000]]></price>\n\t<wholesale_price><![CDATA[4.950000]]></wholesale_price>\n\t<unity></unity>\n\t<unit_price_ratio><![CDATA[0.000000]]></unit_price_ratio>\n\t<additional_shipping_cost><![CDATA[0.00]]></additional_shipping_cost>\n\t<customizable><![CDATA[0]]></customizable>\n\t<text_fields><![CDATA[0]]></text_fields>\n\t<uploadable_files><![CDATA[0]]></uploadable_files>\n\t<active><![CDATA[1]]></active>\n\t<redirect_type><![CDATA[404]]></redirect_type>\n\t<id_product_redirected><![CDATA[0]]></id_product_redirected>\n\t<available_for_order><![CDATA[1]]></available_for_order>\n\t<available_date><![CDATA[0000-00-00]]></available_date>\n\t<condition><![CDATA[new]]></condition>\n\t<show_price><![CDATA[1]]></show_price>\n\t<indexed><![CDATA[1]]></indexed>\n\t<visibility><![CDATA[both]]></visibility>\n\t<advanced_stock_management><![CDATA[0]]></advanced_stock_management>\n\t<date_add><![CDATA[2019-01-10
        13:28:05]]></date_add>\n\t<date_upd><![CDATA[2019-01-10 13:28:05]]></date_upd>\n\t<pack_stock_type><![CDATA[3]]></pack_stock_type>\n\t<meta_description><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_description>\n\t<meta_keywords><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_keywords>\n\t<meta_title><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_title>\n\t<link_rewrite><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[faded-short-sleeves-tshirt]]></language></link_rewrite>\n\t<name><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[Faded
        Short Sleeves T-shirt]]></language></name>\n\t<description><language id=\"1\"
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[<p>Fashion
        has been creating well-designed collections since 2010. The brand offers feminine
        designs delivering stylish separates and statement dresses which have since
        evolved into a full ready-to-wear collection in which every item is a vital
        part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful
        elegance and unmistakable signature style. All the beautiful pieces are made
        in Italy and manufactured with the greatest attention. Now Fashion extends
        to a range of accessories including shoes, hats, belts and more!</p>]]></language></description>\n\t<description_short><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[<p>Faded
        short sleeves t-shirt with high neckline. Soft and stretchy material for a
        comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>]]></language></description_short>\n\t<available_now><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[In
        stock]]></language></available_now>\n\t<available_later><language id=\"1\"
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></available_later>\n<associations>\n<categories
        nodeType=\"category\" api=\"categories\">\n\t<category xlink:href=\"http://www.prestashop_catalogmanager10.com/api/categories/2\">\n\t<id><![CDATA[2]]></id>\n\t</category>\n\t<category
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/categories/3\">\n\t<id><![CDATA[3]]></id>\n\t</category>\n\t<category
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/categories/4\">\n\t<id><![CDATA[4]]></id>\n\t</category>\n\t<category
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/categories/5\">\n\t<id><![CDATA[5]]></id>\n\t</category>\n</categories>\n<images
        nodeType=\"image\" api=\"images\">\n\t<image xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/1\">\n\t<id><![CDATA[1]]></id>\n\t</image>\n\t<image
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/2\">\n\t<id><![CDATA[2]]></id>\n\t</image>\n\t<image
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/3\">\n\t<id><![CDATA[3]]></id>\n\t</image>\n\t<image
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/4\">\n\t<id><![CDATA[4]]></id>\n\t</image>\n</images>\n<combinations
        nodeType=\"combination\" api=\"combinations\">\n\t<combination xlink:href=\"http://www.prestashop_catalogmanager10.com/api/combinations/1\">\n\t<id><![CDATA[1]]></id>\n\t</combination>\n\t<combination
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/combinations/2\">\n\t<id><![CDATA[2]]></id>\n\t</combination>\n\t<combination
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/combinations/3\">\n\t<id><![CDATA[3]]></id>\n\t</combination>\n\t<combination
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/co[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.prestashop_catalogmanager10.com/api/manufacturers/1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<manufacturer>\n\t<id><![CDATA[1]]></id>\n\t<active><![CDATA[1]]></active>\n\t<link_rewrite
        notFilterable=\"true\"><![CDATA[fashion-manufacturer]]></link_rewrite>\n\t<name><![CDATA[Fashion
        Manufacturer]]></name>\n\t<date_add><![CDATA[2019-01-10 13:28:05]]></date_add>\n\t<date_upd><![CDATA[2019-01-10
        13:28:05]]></date_upd>\n\t<description><language id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></description>\n\t<short_description><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></short_description>\n\t<meta_title><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_title>\n\t<meta_description><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_description>\n\t<meta_keywords><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[]]></language></meta_keywords>\n<associations>\n<addresses
        nodeType=\"address\" api=\"addresses\">\n\t<address xlink:href=\"http://www.prestashop_catalogmanager10.com/api/addresses/3\">\n\t<id
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/addresses/3\"><![CDATA[3]]></id>\n\t</address>\n</addresses>\n</associations>\n</manufacturer>\n</prestashop>\n"}
    headers:
      access-time: ['1581004289']
      content-sha1: [92d1ae5449008fa15d24e1576cac85f39cf5c9bc]
      content-type: [text/xml;charset=utf-8]
      execution-time: ['0.002']
      psws-version: [1.6.1.22]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.prestashop_catalogmanager10.com/api/combinations/1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<combination>\n\t<id><![CDATA[1]]></id>\n\t<id_product
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/products/1\"><![CDATA[1]]></id_product>\n\t<location></location>\n\t<ean13></ean13>\n\t<upc></upc>\n\t<quantity><![CDATA[100]]></quantity>\n\t<reference></reference>\n\t<supplier_reference></supplier_reference>\n\t<wholesale_price><![CDATA[0.000000]]></wholesale_price>\n\t<price><![CDATA[0.000000]]></price>\n\t<ecotax><![CDATA[0.000000]]></ecotax>\n\t<weight><![CDATA[0.000000]]></weight>\n\t<unit_price_impact><![CDATA[0.000000]]></unit_price_impact>\n\t<minimal_quantity><![CDATA[1]]></minimal_quantity>\n\t<default_on><![CDATA[1]]></default_on>\n\t<available_date><![CDATA[0000-00-00]]></available_date>\n<associations>\n<product_option_values
        nodeType=\"product_option_value\" api=\"product_option_values\">\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/1\">\n\t<id><![CDATA[1]]></id>\n\t</product_option_value>\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/13\">\n\t<id><![CDATA[13]]></id>\n\t</product_option_value>\n</product_option_values>\n<images
        nodeType=\"image\" api=\"images/products\">\n\t<image xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/1\">\n\t<id><![CDATA[1]]></id>\n\t</image>\n\t<image
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/images/products/1/2\">\n\t<id><![CDATA[2]]></id>\n\t</image>\n</images>\n</associations>\n</combination>\n</prestashop>\n"}
    headers:
      access-time: ['1581004289']
      content-sha1: [2df4d0f65d6a2c737cba78ba8016e6bd80c152c6]
      content-type: [text/xml;charset=utf-8]
      execution-time: ['0.002']
      psws-version: [1.6.1.22]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.prestashop_catalogmanager10.com/api/product_option_values/1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<product_option_value>\n\t<id><![CDATA[1]]></id>\n\t<id_attribute_group
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_options/1\"><![CDATA[1]]></id_attribute_group>\n\t<color></color>\n\t<position><![CDATA[0]]></position>\n\t<name><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[S]]></language></name>\n</product_option_value>\n</prestashop>\n"}
    headers:
      access-time: ['1581004289']
      content-sha1: [c6822d64b109b48e3b8166bd18108253c2aad2f5]
      content-type: [text/xml;charset=utf-8]
      execution-time: ['0.003']
      psws-version: [1.6.1.22]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.prestashop_catalogmanager10.com/api/product_options/1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<product_option>\n\t<id><![CDATA[1]]></id>\n\t<is_color_group><![CDATA[0]]></is_color_group>\n\t<group_type><![CDATA[select]]></group_type>\n\t<position><![CDATA[0]]></position>\n\t<name><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[Size]]></language></name>\n\t<public_name><language
        id=\"1\" xlink:href=\"http://www.prestashop_catalogmanager10.com/api/languages/1\"><![CDATA[Size]]></language></public_name>\n<associations>\n<product_option_values
        nodeType=\"product_option_value\" api=\"product_option_values\">\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/1\">\n\t<id><![CDATA[1]]></id>\n\t</product_option_value>\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/2\">\n\t<id><![CDATA[2]]></id>\n\t</product_option_value>\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/3\">\n\t<id><![CDATA[3]]></id>\n\t</product_option_value>\n\t<product_option_value
        xlink:href=\"http://www.prestashop_catalogmanager10.com/api/product_option_values/4\">\n\t<id><![CDATA[4]]></id>\n\t</product_option_value>\n</product_option_values>\n</associations>\n</product_option>\n</prestashop>\n"}
    headers:
      access-time: ['1581004289']
      content-sha1: [096417fec76d9f74594bd288b49078fd9fc97356]
      content-type: [text/xml;charset=utf-8]
      execution-time: ['0.003']
      psws-version: [1.6.1.22]
    status: {code: 200, message: OK}
[...]
